<div id="lhnav">
  <ul>
    <li> <a href="/"> Home </a></li>
    <li> <a href="work.html"> Homework &amp; Labs</a></li>
    <li> <a href="syllabus.html"> Syllabus </a></li>
    <li> <a href="#"> Moodle </a></li>
    <li> <a href="about.html"> About </a></li>
  </ul>
</div>
    
<a href="http://www.flickr.com/photos/mellis/4784966202/" title="LilyPad Arduino by dam, on Flickr"><img src="http://farm5.staticflickr.com/4081/4784966202_5b7b292dc9_m.jpg" width="240" height="240" alt="LilyPad Arduino"></a>